{{!--<div class="row">
    
    <div class="col-md-12">
        <br>
        <h2>Students</h2>
        <hr />
        <div class="table-responsive">
        <table class="table ">
            <thead>
            <tr>
                <th>Student&nbsp;Num</th>
                <th>Full&nbsp;Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Status</th>
                <th>Course ID</th>
            </tr>
            </thead>
            <tbody>
            {{#each students}}
                <tr>
                    <td>{{studentNum}}</td>
                    <td><a href="/student/{{studentNum}}">{{firstName}} {{lastName}}</a></td>
                    <td><a href="mailto:{{email}}">{{email}}</a></td>
                    <td>{{addressStreet}} {{addressCity}} {{addressProvince}}</td>
                    <td>{{status}}</td>
                    <td><a href="/students?course={{course}}">{{course}}</a></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        </div>
    </div>
    {{#unless students}}
    <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
    </div>
    {{/unless}}
</div> 
--}}
<div class="container">
    <h2>Students</h2>
    <form action="/students" method="get">
        <label for="course">Filter by Course:</label>
        <select name="course" id="course">
            <option value="">All</option>
            {{#each courses}}
            <option value="{{this.courseId}}">{{this.courseCode}} - {{this.courseDescription}}</option>
            {{/each}}
        </select>
        <button type="submit">Filter</button>
    </form>

    {{#if students.length}}
    <table>
        <thead>
            <tr>
                <th>Student Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Course</th>
                <th>TA</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each students}}
            <tr>
                <td><a href="/student/{{this.studentNum}}">{{this.studentNum}}</a></td>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.email}}</td>
                <td>{{this.course}}</td>
                <td>{{this.TA}}</td>
                <td>{{this.status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <p>No students found</p>
    {{/if}}
</div>
